.article {
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 20px;
  &__read-more {
    background-color: transparent;
    width: fit-content;
    display: inline-block;
    border: 1px solid #75aeca;
    border-radius: 3px;
    color: #548eaa;
    cursor: pointer;
    margin-top: 18px;
    font-size: 13px;
    padding: 8px 13px;
    text-decoration: none;
  }
  &__attachment {
    margin-bottom: 20px;
    max-width: 780px;
    object-fit: cover;
    padding-bottom: 55%;
    position: relative;
    width: 100%;
    img {
      height: 100%;
      object-fit: cover;
      position: absolute;
      width: 100%;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  &__body {
    &.--short {
      .article__body-content {
        max-height: 36ch;
        overflow: hidden;
        padding: 15px 0;
      }
    }
    pre {
      background: #f7f7f7;
      border: 1px solid #f0f0f0;
      border-radius: 4px;
      box-sizing: border-box;
      font-size: 0.875rem;
      line-height: 1.6;
      margin: 0;
      overflow: auto;
      padding: 17px 20px;
      -moz-tab-size: 4;
      tab-size: 4;
      white-space: pre;
      word-break: normal;
      word-spacing: normal;
      word-wrap: normal;
    }
    code {
      font-family: monospace;
      background: none;
      font-size: inherit;
      padding: 0;
      -moz-tab-size: 4;
      tab-size: 4;
      white-space: pre;
      word-break: normal;
      word-spacing: normal;
      word-wrap: normal;
    }
  }
  &__actions {
    display: flex;
  }
}
